@font-face {
  font-family: RicksAmericanNF;
  src: url("fonts/RicksAmericanNF.ttf"); }

body {
  background-color: black; }
  body #wrapper {
    width: 960px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFA300; }
    body #wrapper header h1 {
      font-family: RicksAmericanNF;
      font-size: 60px;
      letter-spacing: 18px;
      text-align: center; }
    body #wrapper header nav ul {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      list-style-type: none; }
      body #wrapper header nav ul li a {
        font-family: RicksAmericanNF;
        letter-spacing: 5px;
        font-size: 30px;
        color: #FFA300;
        text-decoration: none;
        padding: 3px 50px; }
        body #wrapper header nav ul li a:hover {
          color: black;
          border-radius: 20px;
          background-color: #FFA300; }
    body #wrapper main {
      background-color: #3C3C3C;
      display: flex;
      flex-flow: row;
      justify-content: space-between; }
      body #wrapper main section {
        width: 60%;
        padding: 10px; }
        body #wrapper main section article {
          padding: 5px;
          margin-bottom: 30px; }
          body #wrapper main section article h2 {
            text-align: center;
            color: #FFA300;
            font-size: 23px; }
          body #wrapper main section article img {
            width: 45%;
            float: left;
            margin-right: 5px; }
          body #wrapper main section article p {
            display: inline; }
            body #wrapper main section article p a {
              color: #FFA300;
              font-style: italic;
              font-weight: 600;
              text-decoration: none; }
      body #wrapper main aside {
        width: 30%; }
        body #wrapper main aside ul {
          display: block;
          list-style-type: none;
          margin-right: 40px;
          margin-top: 60px; }
          body #wrapper main aside ul li {
            display: block;
            margin-bottom: 15px; }
            body #wrapper main aside ul li img {
              width: 100%;
              border-radius: 10px;
              border: 1px solid #FFA300;
              margin-bottom: -22px; }
            body #wrapper main aside ul li span {
              background-color: rgba(0, 0, 0, 0.7);
              display: inline-block;
              text-align: center;
              width: 100%;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              border-bottom: 1px solid #FFA300;
              border-left: 1px solid #FFA300;
              border-right: 1px solid #FFA300;
              font-weight: bolder; }
          body #wrapper main aside ul:hover span {
            background-color: #FFA300;
            color: black; }
    body #wrapper footer h6 {
      text-align: center; }

